@CHARSET "UTF-8";

/* header */
.header{width:100%;margin:2px;height:108px;border-bottom:1px solid #dcdcdc;}
.header h1{text-align:center;}
.header ul{float:right;}

/* UI Object */
.form_table{margin:1em 0;font-size:12px;font-family:Tahoma, Geneva, sans-serif;}
.form_table input,
.form_table textarea,
.form_table select,
.form_table table,
.form_table button{font-size:12px}
.form_table table{width:100%;border:0;border-top:2px solid #999}
.form_table caption{padding:8px 0;font-weight:bold;text-align:left}
.form_table th,
.form_table td{padding:8px;border:0;vertical-align:top}
.form_table th{color:#333}
.form_table td{color:#666}

.form_table tbody th{border-bottom:1px solid #ddd;background:#fafafa;text-align:left}
.form_table tbody td{border-bottom:1px solid #ddd}

.form_table .item{position:relative;margin:-4px 0}
.form_table .item .i_check,
.form_table .item .i_text{position:relative;margin:2px;padding:3px 4px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}
.form_table .item select{margin:2px}
.form_table .i_text{width:250px;}
/* //UI Object */

select{width:120px;}

#platform, #appId, #checksum, #packageName, #lastModified{background-color:#b7b7b7;}

.file_input_textbox{float: left}
.file_input_div{position: relative;width: 100px;height: 25px;overflow: hidden;}
.file_input_button
{
	width: 100px; 
	position: absolute; 
	top: 0px;
	background-color: #33BB00;
	color: #FFFFFF;
	border-style: solid;
}

.file_input_hidden
{
	font-size: 45px; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	opacity: 0; 
}
